body{
  background-color: palegoldenrod;
  min-height: 100vh;
  height: 100vh;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  flex-direction: row;
}

@media (max-width: 600px) {
  .main-cointainer{
    flex-direction: column;
  }
}


.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nes-container{
  margin: 10px;
}

.grid {
  width: 400px;
	height: 400px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}


@media (max-width: 600px) {
  .grid {
    width: 300px;
    height: 300px;
    flex-direction: column;
  }

  .square{
    font-size: 10vmin !important;
  }
}

.square {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square_o {
  background-color: palegreen;
}

.square_o:hover {
  background-color: palegreen;
}

.square_x {
  background-color: palevioletred;
}

.square_x:hover {
  background-color: palevioletred;
}

.nes-btn-square:hover::after{
  box-shadow: none;
}

.nes-btn-square::after{
  box-shadow: none;
}

.score{
  margin: 0px;
}

i.nes-icon{
  margin-top: 1em;
}

button.is-warning {
  margin-top: 1em;
}

button.is-success {
  margin-top: 1em;
}

button.is-primary {
  margin-top: 1em;
}

button.is-error{
  margin-top: 1em;
  margin-bottom: 1em;
}

.nes-balloon{
  margin-top: 1em;
}

h3.container{
  margin-top: 1em;
}

.nes-field{
  margin-top: 1em;
}

.nav-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link{
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.ul-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-nav{
  margin-left: 1em;
  list-style: none;
}

@media (max-width: 600px) {
  .nav-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .ul-nav{
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0px;
  }

  .li-nav{
    margin: 0px;
  }
}
